map $sent_http_content_type $expires {
  default               $NHERIT_EXPIRES_DEFAULT;

  text/html             $NHERIT_EXPIRES_DYNAMIC;
  application/json      $NHERIT_EXPIRES_DYNAMIC;
  ~application/manifest $NHERIT_EXPIRES_DYNAMIC;

  ~text/                $NHERIT_EXPIRES_STATIC;
  ~font/                $NHERIT_EXPIRES_STATIC;
  ~image/               $NHERIT_EXPIRES_STATIC;
  ~video/               $NHERIT_EXPIRES_STATIC;
  ~audio/               $NHERIT_EXPIRES_STATIC;
  ~application/         $NHERIT_EXPIRES_STATIC;
}

expires $expires;
