gzip            $NGINX_GZIP;
gzip_comp_level $NGINX_GZIP_COMP_LEVEL;
gzip_vary       $NGINX_GZIP_VARY;
gzip_min_length $NGINX_GZIP_MIN_LENGTH;
gzip_disable    "MSIE [1-6].(?!.*SV1)";
gzip_buffers    32 4k;
gzip_proxied    any;
gzip_types
    text/html
    text/plain
    text/css
    text/javascript
    text/xml
    text/csv
    text/x-component
    text/x-js
    text/xsd
    text/xsl
    application/json
    application/javascript
    application/ecmascript
    application/postscript
    application/xml
    application/x-javascript
    application/xhtml+xml
    application/rss+xml
    application/atom+xml
    application/ld+json
    application/vnd.ms-fontobject
    font/eot
    font/otf
    font/ttf
    application/x-font-opentype
    application/x-font-truetype
    application/x-font-ttf
    image/svg+xml
    image/gif
    image/x-icon
;
