limit_req_zone $binary_remote_addr zone=req_zone:10m rate=${NHERIT_LIMIT_REQ_RATE}r/s;
limit_req_status $NHERIT_LIMIT_REQ_ERROR;
limit_req_log_level $NHERIT_LIMIT_REQ_LOG;

limit_req zone=req_zone burst=$NHERIT_LIMIT_REQ_BURST;
