more_set_headers
  'Server: AlwatrWebServer'
  'X-Frame-Options: SAMEORIGIN'
  'X-Content-Type-Options: nosniff'
  'X-XSS-Protection: 1; mode=block'
  'X-UA-Compatible: IE=Edge'
  'Referrer-Policy: strict-origin-when-cross-origin'
  'Permissions-Policy: $NGINX_PERMISSIONS_POLICY'
  'X-DNS-Prefetch-Control: on'
  'X-UA-Compatible: IE=Edge'
;
